body {
    background: #DDFFE6;
}

.add-enemy input[type=text].name {
    margin: 5px;
}

.invisible {
    display: none;
}

.grid-view {
    position: absolute;
    right: 10px;
    top: 0;
}

.grid-view .tile {
    border: solid 1px #000;
    position: absolute;
    background-image: url( "grass1.png" );
}

.control-panel {
    background: #FFF2D0;
    padding: 10px;
    border: solid 1px #A18F63;
    position: absolute;
    left: 0;
    top: 0;
    width: 350px;
}

.die-pane { 
    position: absolute;
    right: 0;
    bottom: 0;
    background: #FFF2D0;
    padding: 10px;
    border: solid 1px #A18F63;
    width: 1500px;
    font-size: 10pt;
}

.die-pane table { width: 100%; }

.die-pane tr th,
.die-pane tr td {
    text-align: left;
}

.die-pane .roll-die {
    
}

.die-pane .roll-reference {
    font-size: 10pt; 
}

.control-panel input.number { width: 30px; }

.character {
    position: absolute;
}

.character-options {
    position: absolute;
    border: solid 1px #aaa;
    cursor: pointer;
}

.character-options .name {
    font-size: 12pt;
    position: absolute;
    font-weight: bold;
    font-family: sans-serif;
    width: 100px;
    left: 1px;
    top: 1px;
    z-index: 200;
}

.character-options .remove-object,
.character-options .kill-object {
    position: absolute;
    border: none;
    background: none;
    z-index: 200;
}

.character-options .remove-object {
    top: 74px;
    left: 0;
    color: #fff;
}

.character-options .kill-object {
    top: 74px;
    left: 74px;
    color: #fff;
}

.character-options .sprite {
    position: absolute;
    left: 0;
    top: 0;
    z-index: 100;
}

.character-options.dead .sprite {
    transform: rotate(90deg);
    background: rgba( 255, 0, 0, 0.5 );
}

.tile.highlight {
   
}

.character-options.highlight {
    border: solid 2px #ff0000;  
    background-color: rgba( 255, 255, 0, 0.5 );
    width: 100px;
    height: 100px;
}

#tip-window {
    position: absolute;
    color: #000;
    padding: 5px;
    font-family: sans-serif;
    background: #FFFD94;
    font-size: 16pt;
}

#debug-holder { display: none; }

#roll-result { width: 50px; }
#last-roll { width: 75px; }


.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

